*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 400;
    background-color: #ddd6fe;
}

header{
    text-align: center;
    padding: 30px;
    margin: 10px;
}

h1{
    color: #0d0d0d;
    font-weight: 700;
}

p{
    color: #737373;
    padding: 20px;
    font-weight: 300;

}

main{
    margin: auto;
    padding: 0px 70px 50px;
    width: 90%;
}

/*1st component*/
div{
    width: 60%;
    margin: 0 20px;
    display: inline-block;
    text-align: center;
}

textarea[name="user-input"]{
    /*border-box tells the browser to account for any border and padding in the values you specify for an element's width and height. */
    width: 100%;
    height: 300px;
    margin: 1px;
    padding: 10px;
    border: 2px solid #fafafa;
    box-sizing: border-box;
    background-color: #fafafa;
    border-radius: 5px;
    resize: none;
    /*IE puts a vertical scrollbar by default on all textareas. auto - Similar to scroll, but it adds scrollbars only when necessary*/
    overflow: auto;
    display: block;
}

textarea[name="user-input"]:focus{
    outline: transparent;
    border: 2px solid #9781FF;
}

#reset-button{
    margin: 20px 0px;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    background-color: #9781FF;
    color: #fafafa;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    /*hoover effect*/
    transition-duration: 0.4s;
}

#reset-button:hover{
    background-color: #737373;
    color: #fafafa;
}

/*2nd component*/

ul{
    width: 30%;
    min-height: 300px;
    height: auto;
    display: inline-block;
    /*The vertical-align CSS property sets vertical alignment of an inline, inline-block or table-cell box.*/
    vertical-align: top;
    background: #737373;
    border: none;
    border-radius: 5px;
}

/*border-box tells the browser to account for any border and padding in the values you specify for an element's width and height. */
.metricas{
    width: 90%;
    padding: 0px 20px;
    height: auto;
    margin: 0px;
    border: none;
    box-sizing: border-box;
    background: transparent;
    list-style-type: none;
    color: #fafafa;
    line-height: 50px;
    font-weight: 600;
}

/*The float property is used for positioning and formatting content e.g. let an image float left to the text in a container.*/
footer{
    position: fixed;
    width: 100%;
    height: 50px;
    bottom: 0;
    background-color: #fafafa;
    text-align: center;
}

/*The child combinator (>) is placed between two CSS selectors. It matches only those elements matched by the second selector that are the direct children of elements matched by the first.*/
footer > p{
    font-weight: 100;
    font-size: 15px;
    color: #737373;
}
